.body-container {
    padding-top: 82px
}
.section-box {
    box-sizing: border-box;
    padding-left: 220px
}
.specs-page .container {
    padding-left: 60px;
    padding-right: 60px;
    width: 1345px;
}
.innerWrap {
    display: block
}
.sideScrollNav {
    background: rgba(0, 0, 0, .9);
    width: 220px;
    height: 100vh;
    position: fixed;
    top: 60px;
    left: 0;
    z-index: 100
}
.sideScrollNav .inner {
    padding: 100px 25px
}
.sideScrollNav ul {
    color: #fff
}
.sideScrollNav ul li {
    margin-bottom: 38px;
    text-align: center;
    padding: 6px
}
.sideScrollNav ul li.active,
.sideScrollNav ul li:hover {
    background-color: #f56323
}
.sideScrollNav ul a {
    color: #fff
}

#general-info .top-slider {
    color: #fff;
    padding: 10px 0;
    min-height: 615px
}
#general-info .page-title {
    font-size: 50px;
    color: #fff;
    font-weight: lighter;
    margin-bottom: 34px
}
#general-info .price-block {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 14px
}
#general-info .short-desc {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 43px
}
#general-info .quote-scroll {
    background-color: #f56323;
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    width: 395px;
    max-width: 100%;
    height: 62px;
    line-height: .75;
    padding: 20px;
}
#general-info .quote-scroll span {
    vertical-align: middle;
}
#general-info .quote-scroll img {
    vertical-align: middle;
    padding: 0 0 0 20px
}
#general-info .breadcrumbs {
    margin-top: 10px
}
#general-info .specsComapre {
    color: #fff;
    margin-top: 5px;
    padding-left: 0;
    padding-right: 0;
    text-decoration: underline
}
#general-info .specsComapre:hover {
    color: #fff;
    text-decoration: none
}
#general-info .top-slider .col-md-4 {
    width: 36%
}
#general-info .top-slider .col-md-1 {
    width: 5%
}
#general-info #specproductcarousel {
    height: 360px
}
#general-info #specproductcarousel .carousel-control {
    background: 0 0;
    box-shadow: none;
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    opacity: 1
}
#general-info #specproductcarousel .carousel-control.left {
    left: 0;
    justify-content: flex-start
}
#general-info #specproductcarousel .carousel-control.right {
    right: 0;
    justify-content: flex-end
}
#general-info #specproductcarousel .carousel-inner {
    margin: 0 10%;
    width: 80%;
    height: 100%;
    overflow: visible
}
#general-info #specproductcarousel .carousel-inner .item {
    height: 100%
}
#general-info #specproductcarousel .carousel-inner .item-img {
    transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg)
}
#general-info #specproductcarousel .carousel-inner .item-img,
#general-info #specproductcarousel .carousel-inner .item-vid {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0
}
/*#general-info #specproductcarousel .carousel-inner .item-vid {*/
/*    height: 549px;*/
/*}*/
#general-info #specproductcarousel .carousel-inner .item-vid img {
    max-height: 100%;
    margin: 0 auto;
}
#general-info #specproductcarousel .carousel-inner .item-img img {
    /*max-height: 390px*/
}
#general-info #specproductcarousel .carousel-inner .item-shadow {
    /*width: 80%;*/
    /*margin: 0 auto;*/
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
}
#general-info #specproductcarousel .carousel-inner .item-shadow img {
    display: block;
    width: 100%;
    height: auto
}
#general-info #specproductcarousel .carousel-inner span.prodImgName {
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    bottom: 30px;
    right: 0;
    height: 14px;
    letter-spacing: 1px;
    color: #d2d2d2
}
/*#general-info #specproductcarousel .carousel-inner .item[item-type=video] {*/
/*    height: auto*/
/*}*/
#general-info #specproductcarousel .carousel-inner .item[item-type=video] .item-vid {
    padding: 0
}
#general-info #specproductcarousel .carousel-inner .item[item-type=video] .item-vid iframe {
    border: 1px solid #fff
}
#general-info .top-desc {
    padding-top: 105px
}
#general-info .top-desc .row {
    display: flex;
    flex-wrap: wrap
}
#general-info .top-desc .product-desc {
    line-height: 26px;
    width: 50%
}
/* Read more */
#general-info .top-desc .product-desc .read-more-wrap .read-more-button {
    cursor: pointer;
    font-size: 16px;
    color: #0d0d0d;
    text-decoration: underline;
}
#general-info .top-desc .product-desc .read-more-wrap .read-more-text {display: block;}
#general-info .top-desc .product-desc .read-more-wrap .read-more,
#general-info .top-desc .product-desc .read-more-wrap .read-less {display: none;}
@media (min-width: 767px) {
    #general-info .top-desc .product-desc .read-more-wrap.active .read-more,
    #general-info .top-desc .product-desc .read-more-wrap .read-more-text,
    #general-info .top-desc .product-desc .read-more-wrap .read-less {display: none;}
    #general-info .top-desc .product-desc .read-more-wrap .read-more,
    #general-info .top-desc .product-desc .read-more-wrap.active .read-more-text,
    #general-info .top-desc .product-desc .read-more-wrap.active .read-less {display: block;} 
}
/* Read more end */
#general-info .top-desc .product-compliance {
    text-align: center
}
#general-info .product-datapdf {
    padding-top: 5px
}
#general-info .product-datapdf .datapdf-btn {
    font-size: 14px;
    width: 100%;
    max-width: 100%;
    font-weight: 700;
    line-height: 1.4;
    padding: 11px 43px;
    margin-bottom: 37px;
    height: 40px;
    text-align: left
}
#general-info .product-datapdf .datapdf-btn span {
    display: block;
    position: relative
}
#general-info .product-datapdf .datapdf-btn span:after {
    content: '';
    position: absolute;
    left: 100%;
    background: url(../../images/mini-red-arrow-001.png) 0 3px no-repeat;
    width: 15px;
    height: 16px
}

#general-info .product-datapdf .datapdf-btn:hover span:after {
    background: url(../../images/white-arrow-right.png) 0 3px no-repeat
}
#general-info .compliance-list li {
    margin-bottom: 5px
}
#general-info .compliance-list img {
    width: 63px;
    height: auto;
    margin: 0 auto
}
#general-info .compliance-list img[alt="texas-instruments"] {
    width: 110px;
    height: auto;
    margin: 0 auto
}
#specification *{
    outline: none;
}
#specification {
    background: rgba(0,0,0,.8);
    margin: 100px 0
}
#specification.noDescProd {
    margin: 0 0 105px;
    padding: 130px 0
}
#specification.noDescProd:before {
    display: none
}
#specification.plus2-sections-spacing {
    margin: 105px 0 -80px
}
#specification .section-title {
    font-size: 50px;
    color: #fff;
    margin-bottom: 105px
}
#specification .nav-tabs {
    border-bottom: none;
    display: flex
}
#specification .nav-tabs > li {
    flex-grow: 1
}
#specification .nav-tabs > li:first-child > a span {
    border-left: 1px solid #fff
}
#specification .nav-tabs > li > a {
    font-size: 16px;
    color: #fff;
    width: auto;
    padding: 15px 0 29px;
    text-align: center;
    background: 0 0;
    line-height: 1;
    border: none;
    border-radius: 0;
    margin-left: -3px
}
#specification .nav-tabs > li > a span {
    display: block;
    border-right: 1px solid #fff;
    padding: 0 30px
}
#specification .nav-tabs > li:last-child > a span {
    border-right: none
}
#specification .nav-tabs > li.active a {
    margin-top: -6px;
    position: relative;
    width: 100%;
    max-width: 100%;
    font-size: 16px;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    background-color: #2d8ecc;
    line-height: 1;
    border: none
}
#specification .nav-tabs > li.active a:before {
    content: '';
    position: absolute;
    bottom: -10px;
    right: 0;
    left: 0;
    border-top: 0 solid;
    width: 30px;
    height: 30px;
    z-index: -1;
    background: #2d8ecc;
    margin: 0 auto;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}
#specification .nav-tabs > li.active a span {
    border-left: none;
    border-right: none
}
#specification .nav-tabs > li:first-child.active a span {
    margin-left: 0
}
#specification .tab-pane {
    padding: 70px 0
}
#specification .tab-content table td a {
    text-decoration: underline
}
#specification .tab-content table td a:hover {
    text-decoration: none
}
#specification .table > tbody > tr > th,
#specification .table > tfoot > tr > th,
#specification .table > thead > tr > th {
    color: #49b8ff !important;
    border-bottom: 2px solid #49b8ff
}
#specification .table > tbody > tr > td,
#specification .table > tbody > tr > th,
#specification .table > tfoot > tr > td,
#specification .table > tfoot > tr > th,
#specification .table > thead > tr > td,
#specification .table > thead > tr > th {
    color: #fff;
    border-top: none
}
#specification .table-striped > tbody > tr:nth-of-type(odd) {
    background-color: rgba(232, 233, 235, .14)
}
#specification tbody td {
    height: 50px;
    line-height: 33px
}
#specification tbody td a {
    color: #fff
}
#specification .buykit-bar {
    width: 960px;
    max-width: 90%;
    height: 186px;
    background-color: #dc581e;
    float: right;
    margin-top: 130px;
    position: relative
}
#specification .buykit-bar:after {
    content: '';
    height: 100%;
    width: 1000%;
    background-color: #dc581e;
    position: absolute;
    left: calc(100% - 1px);
    top: 0;
}
#specification .buykit-bar .inner {
    padding: 35px 105px
}
#specification .buykit-bar .cta-text {
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    line-height: 55px
}
#specification .buykit-bar .btn-wrap {
    padding: 35px 0
}
#specification .buykit-bar .btn-default {
    border: none;
    font-size: 24px;
    color: #f56323;
    width: 220px;
    height: 44px
}
#specification .buykit-bar .btn-default:hover {
    background-color: #fff
}
#specification .buykit-bar .btn-default span {
    text-transform: uppercase;
    font-weight: 400
}
#specification .buykit-bar .btn-default span:after {
    content: " ";
    background: url(../../images/right-button-orange-arrow.png) 10px 8px no-repeat;
    width: 21px;
    height: 25px;
    display: inline-block
}
#specification #block_diagram tr {
    background: 0 0
}
#specification #block_diagram td {
    text-align: center;
    border: none;
    padding: 0;
    margin: 0
}
#specification .relSom {
    text-align: center;
    margin-top: 45px
}
#specification .relSom a {
    color: #fff;
    width: 220px;
    height: 65px;
    border: 1px solid #fff;
    font-size: 24px;
    padding: 14px 48px;
    display: inline-block
}
#specification .relSom a:hover {
    text-decoration: none;
    color: #f56323;
    border: 1px solid #f56323
}
#specification .tooltip {
    width: fit-content;
    word-wrap: break-word
}
#specification .tooltip .tooltip-inner::selection {
    background: #999 !important;
    color: #fff
}
#specification .tooltip .tooltip-inner::-moz-selection {
    background: #999 !important;
    color: #fff
}
#specification .part_number td p {
    word-break: break-all;
    max-height: 30px;
    overflow: hidden
}
#evaluation-kit .row {
    display: flex;
    flex-wrap: wrap;
    align-items: end;
}

#evaluation-kit .row .col-xs-12.col-sm-4.col-md-3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#evaluation-kit .section-title {
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 14px
}
#evaluation-kit .price {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 19px
}
#evaluation-kit .desc p {
    line-height: 1.5;
    color: #0d0d0d;
    margin-bottom: 40px
}
#evaluation-kit .btn {
    font-size: 24px;
    text-transform: uppercase;
    height: 45px;
    width: 220px;
    line-height: 22px
}
html[lang="it-IT"] #evaluation-kit .btn {
    width: 240px;
}
#evaluation-kit .btn img {
    vertical-align: baseline;
    margin: 1px 0 -1px;
    padding-left: 15px
}
#evaluation-kit .thumb-box img {
    z-index: 1;
    /*position: absolute;*/
    bottom: 0;
    width: 100%;
    height: auto;
}

#evaluation-kit .btns-list-box {
    padding: 0;
    margin: 0
}
#evaluation-kit .btns-list-box li:first-child {
    margin-bottom: 15px
}
#evaluation-kit .btns-list-box .kitspecs-btn,
#evaluation-kit .btns-list-box .orderkit-btn {
    position: relative;
    text-align: left
}
#evaluation-kit .btns-list-box .orderkit-btn {
    border:  2px solid #f56323
}
#evaluation-kit .btns-list-box .kitspecs-btn {
    color: #f56323;
    border: 2px solid #f56323
}
#evaluation-kit .btns-list-box .kitspecs-btn:hover {
    color: #fff;
    border: 2px solid #f56323
}
#evaluation-kit .btns-list-box .kitspecs-btn span:after,
#evaluation-kit .btns-list-box .orderkit-btn span:after {
    content: '';
    background-size: 11px auto !important;
    width: 13px;
    height: 100%;
    position: absolute;
    right: 15px;
    top: 0
}
#evaluation-kit .btns-list-box .kitspecs-btn span:after {
    background: url(../../images/right-button-orange-arrow.png) 0 50% no-repeat;
}
#evaluation-kit .btns-list-box .orderkit-btn span:after,
#evaluation-kit .btns-list-box .kitspecs-btn:hover span:after {
    background: url(../../images/button-arrow.png) 0 50% no-repeat;
}

#documentation {
    padding-top: 50px
}
.doc-box-section .section-title {
    font-size: 50px;
    font-weight: 700;
    margin: 0 0 96px
}
.doc-box-section .row {
    display: flex;
    flex-wrap: wrap
}
.doc-box-section .doc-box-wrap {
    min-height: 400px;
    margin-bottom: 25px
}
.doc-box-section .doc-box-collapse {
    height: 100%;
    padding: 60px 22% 20px
}
.doc-box-section .box-title {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 9px;
    margin-bottom: 24px;
    border-bottom: solid 1px #fff;
    pointer-events: none
}
.doc-box-section .files-list {
    list-style: none;
    padding: 0;
    line-height: 35px
}
.doc-box-section .files-list li .verLbl,
.doc-box-section .files-list li a {
    color: #fff
}
.doc-box-section .files-list li .verLbl {
    font-size: 12px
}
.doc-box-section .files-list li {
    position: relative;
    line-height: 20px;
    padding: 7px 0 7px 30px
}
.doc-box-section .files-list li img {
    vertical-align: baseline;
    padding-right: 10px
}
.doc-box-section .doc-box-collapse .box-title:after {
    font-family: fontAwesome;
    float: right;
    color: #fff;
    display: none
}
.doc-box-section .doc-box-collapse .box-title[aria-expanded=false]:after {
    content: "\f105"
}
.doc-box-section .doc-box-collapse .box-title[aria-expanded=true]:after {
    content: "\f107"
}
.doc-box-section .filetype {
    background: url(../../images/files/docs-icons.png) top left no-repeat;
    width: 19px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    left: 0;
    top: 6px
}
.doc-box-section .filetype.yocto {
    background-position: 0 0;
    width: 18px;
    height: 21px
}
.doc-box-section .filetype.android {
    background-position: 0 -31px;
    height: 23px
}
.doc-box-section .filetype.boot2qt {
    background-position: 0 -64px
}
.doc-box-section .filetype.brillio {
    background-position: 0 -94px;
    width: 18px;
    height: 18px
}
.doc-box-section .filetype.debian {
    background-position: 0 -122px;
    width: 20px;
    height: 26px
}
.doc-box-section .filetype.DXFfileicon {
    background-position: 0 -158px;
    width: 20px
}
.doc-box-section .filetype.dxf {
    background-position: 0 -188px
}
.doc-box-section .filetype.ios {
    background-position: 0 -218px;
    width: 17px;
    height: 22px
}
.doc-box-section .filetype.linux {
    background-position: 0 -250px;
    width: 20px;
    height: 24px
}
.doc-box-section .filetype.os {
    background-position: 0 -284px
}
.doc-box-section .filetype.pdf {
    background-position: 0 -314px
}
.doc-box-section .filetype.pdf-file {
    background-position: 0 -344px
}
.doc-box-section .filetype.qt {
    background-position: 0 -374px;
    width: 23px;
    height: 17px
}
.doc-box-section .filetype.sw {
    background-position: 0 -401px
}
.doc-box-section .filetype.ubuntu {
    background-position: 0 -431px;
    width: 20px;
    height: 21px
}
.doc-box-section .filetype.windows {
    background-position: 0 -462px;
    width: 18px;
    height: 18px
}
#accessories .section-title {
    font-size: 50px;
    font-weight: 700;
    margin: 0 0 90px
}
#accessories .acc-slider-wrapper {
    position: relative;
    margin: 0 -60px 100px;
    padding: 0 60px
}
#accessories #accesoriesSlider .item a {
    color: #000
}
#accessories #accesoriesSlider img {
    margin: 0 auto;
    max-width: 95%
}
#accessories .swiper-container {
    background: #e8e9eb;
    padding: 30px 0;
    overflow: hidden
}
#accessories .swiper-button-prev,
#accessories .swiper-button-next {
    content: '';
    color: #000;
    margin-top: -25px;
    width: 35px;
    height: 50px;
    z-index: 1
}
#accessories .swiper-button-prev {
    left: 0;
}
#accessories .swiper-button-next {
    right: 0;
}
.step-form .quote-form textarea.form-control {	
    height: 176px;	
}	
.step2-buttons {	
    top: 572px; 	
}	
.quote-form .notice {	
    padding: 7px;	
}
/* #quote-formbox {
    position: relative;
    margin: 150px 0 0;
    padding-top: 170px;
    padding-bottom: 120px
} */
#quote-formbox {
    position: relative;
    margin: 150px 0 0;
    padding-top: 200px;
    padding-bottom: 120px
}
#quote-formbox .quote-background {
    position: absolute;
    top: 0;
    height: 100%;
    /* transform: skewX(-4.3deg);
    -webkit-transform: skewX(-4.3deg);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden; */
}
#quote-formbox .quote-background.cell-1 {
    /*background-color: #f56323;*/
    background-color: #dc581e;
    left: -5%;
    width: 45%
}
#quote-formbox .quote-background.cell-2 {
    background: #e8e9eb;
    left: 40%;
    width: 65%
}
#quote-formbox .form-box .quote-title-box {
    padding-right: 75px
}
#quote-formbox .form-box {
    width: 100%;
    z-index: 2;
}
#quote-formbox .section-title {
    color: #fff;
    font-size: 50px;
    font-weight: 700
}
#quote-formbox .form-box .section-desc {
    color: #fff
}

.quote-form .notice {
    padding: 7px 20px 7px 0;
    font-size: 18px;
    text-align: left;
    font-style: italic
}
.quote-form .inner {
    background: #fff;
    color: #000;
    padding: 49px 90px 38px 66px
}
.quote-form .row {
    margin-left: -7px;
    margin-right: -7px
}
.quote-form .formBlockMiniTitle,
.quote-form .options-box .col-md-4,
.quote-form .btn-box > div {
    padding-left: 7px;
    padding-right: 7px
}
.quote-form label {
    display: block;
    cursor: pointer
}
.quote-form .form-control {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    box-shadow: none;
    color: #0d0d0d;
    font-size: 15px;
    line-height: 26px;
    height: 44px;
    padding: 9px 25px 9px 15px
}
.quote-form select {
    background: url("../../images/arrow-dropdown.svg") no-repeat 95% 50%;
    background-size: 12px auto
}
.quote-form .form-control option {
    color: #0d0d0d
}
.quote-form select:invalid,
.quote-form .form-control option[value=""] {
    color: #8e8e8e
}
.quote-form ::-webkit-input-placeholder {
    color: #8e8e8e
}
.quote-form ::-moz-placeholder {
    color: #8e8e8e;
    opacity: 1
}
.quote-form :-ms-input-placeholder {
    color: #8e8e8e
}
.quote-form :-moz-placeholder {
    color: #8e8e8e;
    opacity: 1
}
.quote-form input[type=checkbox] {
    display: none
}
.quote-form input[type=checkbox] + label {
    font-weight: 400
}
.quote-form input[type=checkbox] + label span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: -1px 5px 0 0;
    vertical-align: middle;
    background: url(../../images/checkbox/filter-checkbox-empty-dark.png) left top no-repeat;
    cursor: pointer
}
.quote-form input[type=checkbox]:checked + label span {
    background: url(../../images/checkbox/filter-checkbox-checked.png) left top no-repeat
}
.quote-form input[type=checkbox] + label[for=agreement] {
    font-size: 15px
}
.quote-form input[type=checkbox] + label[for=agreement] a {
    color: #2d8ecc;
    text-decoration: underline
}
.quote-form .formBlockMiniTitle {
    font-size: 16px;
    font-weight: 700
}
.quote-form .product-addons-box .formBlockMiniTitle {
    padding-bottom: 25px
}
.quote-form .product-addons-box {
    margin-top: 7px
}
.quote-form .options-box {
    margin-bottom: 37px
}
.quote-form .product-quantities-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center
}
.quote-form label {
    font-size: 15px;
    font-weight: 400;
    margin: 0
}
.quote-form .paddons-checkbox {
    margin-bottom: 20px
}
.quote-form .submitQuoteRequest {
    font-size: 24px;
    height: 45px;
    line-height: 1
}
.quote-form .submitQuoteRequest {
    width: 100%
}
.quote-form .btn-arrow-01:after {
    background-size: 11px auto !important;
}
.quote-form .form-group {
    margin-bottom: 17px;
    padding-left: 7px;
    padding-right: 7px
}
.quote-form .form-group.col-xs-12 {
    margin-bottom: 20px
}
.quote-form textarea.form-control {
    height: 84px;
    resize: vertical
}

#related .section-title {
    font-size: 50px;
    font-weight: 700;
    margin-top: 0;
    width: 205px
}
#related .swiper-container {
    background: #fff;
    border: 0;
    box-shadow: none;
    flex: 1 0 0;
    overflow: hidden;
    /*flex: 0 0 880px;*/
    /*width: 880px;*/
    margin: 0 0 0 80px;
    max-width: 100% !important
}
#related .related-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#related .related-product a {
    color: #000;
    font-weight: 400;
    display: block
}
#related .rprod-inner-wrap {
    display: block;
    background: #e8e9eb;
    padding: 25px
}
#related .rprod-inner-wrap picture {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 140px
}
#related .item .item-title {
    display: block;
    margin-top: 10px;
    text-align: left
}

.specs-evaluation-kits #specification tbody td {
    height: 50px;
    line-height: 33px;
    padding-left: 36px
}
.specs-evaluation-kits #specification tbody td a {
    color: #fff
}
.specs-evaluation-kits #specification tbody tr:nth-child(odd) td {
    background: #595959
}
.specs-evaluation-kits #specification tbody tr:nth-child(odd) td:first-child {
    background: #4C4C4C !important
}
.specs-evaluation-kits #specification #block_diagram tr:nth-child(odd) td:first-child {
    background: 0 0 !important
}


@media (min-width: 768px) {
    #general-info .top-desc .product-desc {
        height: auto !important
    }
    #general-info .rmExpend {
        display: none
    }
    .specs-wrap .nav-tabs {
        display: flex
    }
    .specs-wrap .nav-tabs li {
        flex-grow: 1
    }
    .single-specs .product-desc {
        padding-left: 50px
    }
    #specification th {
        padding-left: 35px
    }
    #specification tbody td:first-child {
        width: 30%;
        padding-left: 36px
    }
    .specs-evaluation-kits #specification .data-tables-box #carrier_board th,
    .specs-evaluation-kits #specification .data-tables-box #ordering_info th,
    .specs-evaluation-kits #specification .data-tables-box .tab-content .tab-pane:first-child thead th {
        font-size: 24px;
        font-weight: lighter;
        text-align: center
    }
    .specs-evaluation-kits #specification .data-tables-box #carrier_board th,
    .specs-evaluation-kits #specification .data-tables-box #ordering_info th {
        text-align: left
    }
    .specs-evaluation-kits #specification .data-tables-box #kit {
        padding: 30px 0
    }
    .specs-evaluation-kits #specification .data-tables-box #kit td:not(:first-child) {
        text-align: center
    }
    .specs-evaluation-kits #specification tbody td:first-child {
        width: 25%;
        padding-left: 36px
    }
    .specs-evaluation-kits #specification tbody td:nth-child(2), .specs-evaluation-kits #specification tbody td:nth-child(3) {
        padding-left: 36px
    }
    #accessories,
    #documentation,
    #related {
        padding-top: 150px
    }
    #evaluation-kit {
        margin-top: -50px;
        /*padding-top: 100px*/
    }
    #specification {
        margin-bottom: 0;
        padding-top: 100px;
        padding-bottom: 100px
    }
    #general-info #specproductcarousel .carousel-indicators {
        display: none
    }
}

@media (min-width: 1200px) {
    #accessories, #documentation, #related {
        padding-top: 250px
    }
}
@media (min-width: 993px) {
    #quote-formbox .quote-background.cell-1 {
        width: 75%;
        clip-path: polygon(0 2%,100% 13.8%,100% 96.1%,0 88.5%)
    }
    #quote-formbox .quote-background.cell-2 {
        left: 47%;
        clip-path: polygon(10% 11%,100% 20%,100% 100%,0 94%)
    }
}

/* @media (min-width: 1446px) {
    #quote-formbox .quote-background.cell-1 {
        width: 52%
    }
    #quote-formbox .quote-background.cell-2 {
        left: 47%
    }
} */
@media (min-width: 1446px) {
    #quote-formbox .quote-background.cell-1 {
        width: 75%
    }
    #quote-formbox .quote-background.cell-2 {
        left: 47%
    }
}


@media (max-width: 1445px) {
    .single-specs .sideScrollNav {
        display: none
    }
    .section-box {
        padding-left: 0
    }
    .specs-page .container {
        padding-left: 15px;
        padding-right: 15px
    }
    #accessories .acc-slider-wrapper {
        margin: 0 0 100px;
        padding: 0 40px;
    }
}

/*@media (max-width: 1366px) {*/
/*    #accessories .bx-wrapper {*/
/*        margin-left: 30px;*/
/*        margin-right: 30px*/
/*    }*/
/*    #accessories .bx-wrapper .bx-controls-direction .bx-next {*/
/*        margin-right: -45px*/
/*    }*/
/*    #accessories .bx-wrapper .bx-controls-direction .bx-prev {*/
/*        margin-left: -45px*/
/*    }*/
/*}*/

@media (max-width: 1280px) {
    .single-specs .container {
        width: 1190px
    }
    #general-info .top-desc .product-desc {
        padding-left: 40px;
        padding-right: 0
    }
    #specification {
        padding: 150px 0
    }
    #specification .nav-tabs > li > a span {
        padding: 0 32px
    }
    .doc-box-section .section-title {
        margin: 0 0 75px
    }
    #general-info .page-title {
        font-size: 48px;
    }
}

@media (max-width: 1199px) {
    #general-info .product-datapdf .datapdf-btn {
        padding-left: 30px;
        padding-right: 30px
    }
    /*#related .bx-wrapper {*/
    /*    flex: 0 0 100%;*/
    /*    width: 100%*/
    /*}*/
    #related .section-title {
        margin-bottom: 30px
    }
}

@media (max-width: 1024px) {
    #general-info .top-slider {
        min-height: 0;
        padding-bottom: 60px
    }
    #general-info .page-title {
        font-size: 32px
    }
    #specification {
        padding: 100px 0
    }
    #specification .buykit-bar {
        margin-top: 0
    }
    #specification .buykit-bar .inner {
        padding-left: 35px;
        padding-right: 35px
    }
    #general-info #specproductcarousel {
        height: 270px
    }
    #general-info #specproductcarousel .carousel-inner span.prodImgName {
        bottom: 10px
    }
    #related .swiper-container {
        flex: 0 0 100%;
        margin: 0;
    }
}

@media (max-width: 991px) {
    #quote-formbox {
        background: #dc581e;
        margin-top: 100px
    }
    #quote-formbox .quote-background {
        display: none
    }
    #quote-formbox .form-box .quote-form-row {
        margin-bottom: -30px
    }
    #related .rprod-inner-wrap {
        padding-top: 15px;
        padding-bottom: 15px
    }
    #specification .buykit-bar .cta-text {
        font-size: 40px
    }
}

@media (max-width: 767px) {
    .body-container {
        padding-top: 0
    }
    .specs-page .container {
        width: 100%
    }

    .specs-page .top-slider {
        height: 432px;
        background: url(/wp-content/uploads/2023/12/bg-specs-header-mobile.jpg) no-repeat center top;
        background-size: cover;
    }

    #general-info .top-desc .product-desc {
        padding-left: 15px;
        padding-right: 15px
    }
    #general-info .product-datapdf {
        order: 0;
        width: 100%
    }
    #general-info .top-desc .product-compliance {
        order: 1;
        width: 100%
    }
    #general-info .top-desc .product-desc {
        width: 100%;
        order: 2
    }
    #general-info .top-desc .product-desc p {
        margin: 0
    }
    #general-info .page-title {
        font-weight: 400;
        font-size: 24px;
        margin: 38px 0 14px;
        line-height: 1.3
    }
    #general-info .product-datapdf .btn {
        display: block;
        width: 210px;
        margin: 0 auto 16px
    }
    #general-info .compliance-list {
        margin-bottom: 20px
    }
    #general-info .compliance-list li {
        display: inline-block;
        padding: 0 5px
    }
    #general-info .quote-scroll {
        font-size: 16px;
        width: 201px;
        height: 46px;
        line-height: 1.13;
        margin: 0 auto;
        padding: 14px 30px
    }
    html[lang="de-DE"] #general-info .quote-scroll {
        width: 250px
    }
    #general-info .quote-scroll img {
        height: 16px;
    }
    #general-info .specsComapre,
    #general-info .specsComapre:hover {
        color: #0d0d0d
    }
    #general-info .rmExpend {
        font-size: 16px;
        padding: 10px 16px;
        color: #0d0d0d;
        order: 3;
        text-decoration: underline
    }
    #general-info .rmExpend:hover {
        text-decoration: none
    }
    #general-info .short-desc {
        font-weight: 400
    }
    #general-info .price-block {
        font-size: 16px
    }
    #general-info .top-slider {
        padding: 0;
        position: relative
    }
    #general-info .top-slider .col-sm-5 {
        position: static
    }
    #general-info .top-desc {
        padding-top: 110px
    }
    #general-info #specproductcarousel {
        height: auto
    }
    #general-info #specproductcarousel .carousel-inner .item-img {
        width: 70%;
        margin: 0 auto
    }
    #general-info #specproductcarousel .carousel-inner .item-shadow {
        margin: 0 auto;
        width: 60%;
        left: 20%
    }
    #general-info #specproductcarousel .carousel-inner .item[item-type=video] .item-vid {
        margin: 0;
        padding: 0
    }
    #general-info #specproductcarousel .carousel-inner .item-img,
    #general-info #specproductcarousel .carousel-inner .item-vid {
        height: 250px
    }
    #general-info #specproductcarousel .carousel-inner .item-img picture,
    #general-info #specproductcarousel .carousel-inner .item-vid a {
        height: 100%;
        display: flex;
        align-items: center
    }
    #general-info #specproductcarousel .carousel-indicators {
        bottom: auto;
        top: calc(100% + 20px)
    }
    #general-info #specproductcarousel .carousel-indicators li {
        background: #fff;
        width: 8px;
        height: 8px;
        border: none;
        margin: 0 3.5px
    }
    #general-info #specproductcarousel .carousel-indicators li.active {
        background: #eb5f22
    }
    #general-info #specproductcarousel .carousel-inner .item-overlay:before {
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
    #general-info #specproductcarousel .carousel-inner span.prodImgName {
        bottom: 0;
        width: 100%;
        text-align: center
    }
    #general-info #specproductcarousel .carousel-control {
        display: none
    }
    .top-btns-wrap {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        position: absolute;
        top: calc(100% - 20px);
        left: 0;
        width: 100%;
        z-index: 1
    }
    #specification .specs-wrap .nav-tabs > li > a:before {
        display: none !important
    }
    #specification {
        padding: 50px 0;
        margin: 50px 0
    }
    #specification .section-title {
        font-size: 24px;
        width: 1300px;
        margin-bottom: 0
    }
    #specification .specs-wrap ::-webkit-scrollbar {
        width: 0;
        background: 0 0
    }
    #specification .specs-wrap .tab-navs-wrap {
        overflow-y: auto
    }
    #specification .specs-wrap .tab-navs-wrap .inner {
        overflow-x: auto;
        white-space: nowrap;
        width: 100%;
        padding: 20px 0
    }
    #specification .specs-wrap .nav-tabs > li > a {
        padding: 9px 0 8px;
        font-size: 20px
    }
    #specification .specs-wrap .nav-tabs > li.active a {
        background-color: #2d8ecc;
        margin-top: 0 !important
    }
    #specification .specs-wrap .tab-pane {
        padding: 0 0 70px
    }
    #specification .specs-wrap .data-tables-box {
        padding: 0
    }
    #specification .specs-wrap .data-tables-box table {
        border: none
    }
    #specification .specs-wrap .data-tables-box .table > tbody > tr > td,
    #specification .specs-wrap .data-tables-box .table > tbody > tr > th,
    #specification .specs-wrap .data-tables-box .table > tfoot > tr > td,
    #specification .specs-wrap .data-tables-box .table > tfoot > tr > th,
    #specification .specs-wrap .data-tables-box .table > thead > tr > td,
    #specification .specs-wrap .data-tables-box .table > thead > tr > th {
        padding: 4px 20px;
        height: auto;
        line-height: 20px
    }
    #specification .specs-wrap .data-tables-box .table > tbody > tr > td:first-child {
        padding-top: 12px
    }
    #specification .specs-wrap .data-tables-box .table > tbody > tr > td:last-child {
        padding-bottom: 12px
    }
    #specification .specs-wrap .data-tables-box #block_diagram img {
        width: 100%;
        max-width: 100%
    }
    #specification .specs-wrap .data-tables-box table .sub-table th {
        position: relative;
        display: block;
        width: 100vw;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.25;
        color: #2d8ecc;
        border-bottom: solid 1px #2d8ecc
    }
    #specification .specs-wrap .data-tables-box table .sub-table th:empty {
        display: none
    }
    #specification .specs-wrap .data-tables-box table .sub-table th:first-child::after {
        content: "\f107";
        font-family: fontAwesome;
        position: absolute;
        top: 4px;
        right: 20px
    }
    #specification .specs-wrap .data-tables-box table .sub-table.open th:first-child::after {
        content: "\f105"
    }
    #specification .specs-wrap .data-tables-box table td {
        font-size: 14px;
        display: block;
        width: 100vw;
        clear: both
    }
    #specification .specs-wrap .inner-tabs-2 {
        width: fit-content !important
    }
    #specification .specs-wrap .tabs-2 {
        width: fit-content
    }
    #specification .specs-wrap .tabs-2 > li {
        width: fit-content;
        display: inline-block
    }
    #specification .specs-wrap .tabs-2 > li > a {
        width: auto;
        display: inline-block;
        min-width: 200px
    }
    #specification.plus2-sections-spacing {
        margin: 25px 0 -5px
    }
    #specification .buykit-bar {
        height: auto;
        margin-top: 50px;
        margin-bottom: 70px
    }
    #specification .buykit-bar:after {
        display: none;
    }
    #specification .buykit-bar .inner {
        padding: 15px 20px
    }
    #specification .buykit-bar .cta-text {
        font-size: 18px;
        line-height: 24px;
        margin: 0 0 15px
    }
    #specification .buykit-bar .btn-wrap {
        padding: 0;
        text-align: right
    }
    #specification .buykit-bar .btn-default {
        font-size: 16px;
        color: #f56323;
        width: 100%
    }
    #specification .buykit-bar .btn-default span:after {
        background: url(../../images/arrow.png) 9px 10px no-repeat;
        height: 22px
    }
    #evaluation-kit .row > div {
        order: 1
    }
    #evaluation-kit .row .thumb-box {
        order: 0
    }
    #evaluation-kit .thumb-box img {
        display: block;
        position: relative;
        width: auto;
        height: auto;
        max-width: 90%;
        max-height: 300px;
        margin: -150px auto 30px
    }
    #evaluation-kit .section-title {
        font-size: 20px
    }
    #evaluation-kit .desc {
        font-size: 16px
    }
    #evaluation-kit .btns-list-box li {
        display: inline-block
    }
    #evaluation-kit .btns-list-box li:first-child {
        margin-right: 10px
    }
    #evaluation-kit .btns-list-box .btn,
    html[lang="it-IT"] #evaluation-kit .btns-list-box .btn {
        width: 180px;
        height: 46px;
        line-height: 1.5;
        font-size: 16px !important
    }
    #evaluation-kit .btns-list-box .kitspecs-btn span:after,
    #evaluation-kit .btns-list-box .orderkit-btn span:after {
        background-size: 7px auto !important;
    }
    .doc-box-section .section-title {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 23px
    }
    .doc-box-section .doc-box-wrap {
        margin-bottom: 0;
        min-height: 0;
        padding: 0
    }
    .doc-box-section .box-title {
        pointer-events: auto
    }
    .doc-box-section .doc-box-collapse {
        padding: 0
    }
    .doc-box-section .doc-box-collapse .box-title {
        margin: 0;
        padding: 13px 17px;
        font-size: 20px;
        border-bottom: none
    }
    .doc-box-section .doc-box-collapse .files-box {
        padding: 27px 25px;
        border-top: solid 1px #fff
    }
    .doc-box-section .doc-box-collapse .files-list {
        margin-bottom: 0;
        line-height: 42px
    }
    .doc-box-section .doc-box-collapse .files-list li img {
        padding-right: 23px
    }
    .doc-box-section .doc-box-collapse .box-title:after {
        display: block
    }
    #accessories,
    #related {
        padding-top: 100px
    }
    #accessories .section-title,
    #related .section-title,
    #quote-formbox .section-title {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 30px
    }
    #accessories .acc-slider-wrapper {
        padding: 0;
        margin-bottom: 0;
    }
    #accessories .swiper-button-prev,
    #accessories .swiper-button-next {
        display: none;
    }
    #accessories .swiper-container {
        background: #fff;
        margin: 0
    }
    #related .swiper-container {
        padding: 30px 0
    }
    #accesoriesSlider .item {
        width: 170px !important
    }
    #relatedMobileSlider .item {
        width: 225px !important
    }
    #accesoriesSlider .item img {
        background: #e8e9eb;
        padding: 27px 15px;
        max-height: 160px
    }
    #accesoriesSlider .item .item-title,
    #related .item .item-title {
        margin-top: 15px;
        text-align: center
    }
    #quote-formbox.quote-multi-step {	
        padding-top: 70px;	
    }
    #quote-formbox,
    #quote-formbox .form-box {
        padding: 0
    }
    #quote-formbox .section-title {
        margin-bottom: 15px
    }
    .quote-form .options-box label,
    .quote-form input[type=checkbox] + label[for=agreement] {
        font-size: 14px
    }
    #quote-formbox .form-box .quote-title-box {
        z-index: 2;
        padding: 30px 15px
    }
    #quote-formbox .form-box .container,
    #quote-formbox .form-box .quote-form-row {
        padding: 0
    }
    #quote-formbox .form-box .container > .row {
        margin-right: 0;
        margin-left: 0
    }
    .quote-form .inner {
        padding: 30px 15px
    }
    .quote-form .product-quantities-box {
        margin-bottom: 0
    }
    .quote-form .notice {
        font-size: 18px;
        padding: 7px 0
    }
    .quote-form .options-box {
        margin-bottom: 40px
    }
    .quote-form .options-box .paddons-checkbox {
        margin-bottom: 16px;
        line-height: 16px
    }
    .quote-form .form-group {
        margin-bottom: 21px !important
    }
    .quote-form .btn-arrow-01:after {
        background-size: 9px auto !important;
        margin-bottom: -5px
    }
    .quote-form .formBlockMiniTitle {
        padding-bottom: 10px
    }
    .quote-form .submitQuoteRequest {
        height: 52px;
        font-size: 16px;
        font-style: normal;
        line-height: 1.13
    }
    .quote-form .submit-wrap {
        width: calc(50% - 5px);
        margin-left: auto
    }
    .quote-form .submitQuoteRequest {
        background-color: #f56323
    }
    .specs-accessories #specification.noDescProd {
        margin: 0 0 25px
    }
    .specs-product-wrapper {
        padding-bottom: 80px
    }
    .specs-evaluation-kits #included_som.tab-pane, .specs-evaluation-kits #kit.tab-pane {
        overflow-y: scroll
    }
    .specs-evaluation-kits #included_som.tab-pane table tbody tr,
    .specs-evaluation-kits #included_som.tab-pane table thead tr,
    .specs-evaluation-kits #kit.tab-pane table tbody tr,
    .specs-evaluation-kits #kit.tab-pane table thead tr {
        display: flex;
        flex-direction: row
    }
    .specs-evaluation-kits #included_som.tab-pane table tbody tr th:after,
    .specs-evaluation-kits #included_som.tab-pane table thead tr th:after,
    .specs-evaluation-kits #kit.tab-pane table tbody tr th:after,
    .specs-evaluation-kits #kit.tab-pane table thead tr th:after {
        display: none !important
    }
    .specs-evaluation-kits #included_som.tab-pane table tbody tr td,
    .specs-evaluation-kits #included_som.tab-pane table tbody tr th,
    .specs-evaluation-kits #included_som.tab-pane table thead tr td,
    .specs-evaluation-kits #included_som.tab-pane table thead tr th,
    .specs-evaluation-kits #kit.tab-pane table tbody tr td,
    .specs-evaluation-kits #kit.tab-pane table tbody tr th,
    .specs-evaluation-kits #kit.tab-pane table thead tr td,
    .specs-evaluation-kits #kit.tab-pane table thead tr th {
        width: 55vw !important;
        display: block !important;
        padding: 12px 20px 4px !important;
        height: auto;
        line-height: 20px
    }
    .specs-evaluation-kits #included_som.tab-pane table tbody tr td:first-child,
    .specs-evaluation-kits #included_som.tab-pane table tbody tr th:first-child,
    .specs-evaluation-kits #included_som.tab-pane table thead tr td:first-child,
    .specs-evaluation-kits #included_som.tab-pane table thead tr th:first-child,
    .specs-evaluation-kits #kit.tab-pane table tbody tr td:first-child,
    .specs-evaluation-kits #kit.tab-pane table tbody tr th:first-child,
    .specs-evaluation-kits #kit.tab-pane table thead tr td:first-child,
    .specs-evaluation-kits #kit.tab-pane table thead tr th:first-child {
        width: 40vw !important
    }
    .specs-evaluation-kits #carrier_board .table > tbody > tr:nth-child(odd) {
        background: #4c4c4c
    }
    .specs-evaluation-kits #carrier_board .table > tbody > tr:nth-child(even), .specs-evaluation-kits #carrier_board .table > tbody > tr > td {
        background: 0 0
    }
    .specs-evaluation-kits #carrier_board .table > tbody > tr > td:last-child {
        font-weight: lighter
    }
}

@media (max-width: 480px) {
    #general-info #specproductcarousel .carousel-inner .item-img,
    #general-info #specproductcarousel .carousel-inner .item-vid {
        height: 200px
    }
    .quote-form .submit-wrap {
        width: 100%
    }
}

@media (min-width: 768px) {
    .only-mobile {
        display: none;
    }


}

@media (max-width: 767px) {
    .only-dekstop {
        display: none;
    }
    img.only-mobile.ewww_webp_loaded {
        transform: rotate(-10deg);
        -webkit-transform: rotate(-10deg);
        width: 50%;
        margin: 30px auto;
    }

    .specs-product-wrapper {
        text-align: center;
    }
}

